@import "open-props.min.css";

table.custom-table td {
    padding: 2px 10px;
    white-space: nowrap;
}
.wbtn-small {
    border-radius:4px;
    padding:6px;
    color:#fff;
    font-size:11px;
    font-weight:bold;
    text-shadow:0px 0px 4px #666;
    /* box-shadow:1px 1px 2px #444; */
}
.perco {
    border-radius: 2px;
    background-color:#090;
    font-size:10px;
    font-family:monospace;
    color:#eee;
    text-align:center;
}
.title-small {
    color:#333;
    text-transform: uppercase;
    font-weight:400;
}
.small {
    font-size:12px;
}
.tmlabel {
    font-family: monospace;
    font-size: 12px;
    background-color: #999;
    border-radius: 4px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    color: #fff;
}
.label {
    padding:6px;
    border-radius:4px;
    font-size:12px;
    color:#fff;
}

.rightlabel {
    border-radius:2px;
    font-size:10px;
    font-weight:bold;
    text-align:center;
    position:absolute;
    padding-left:8px;
    padding-right:8px;
    margin-left:10px;
    margin-top:-20px;
    color:#fff;
    text-transform:uppercase;
}
.leftlabel {
    border-radius:2px;
    font-size:10px;
    text-align:center;
    position:absolute;
    padding-left:8px;
    padding-right:8px;
    color:#fff;
    text-transform:uppercase;
    left:20px;
}
.hindex {
    border-radius:2px;
    font-size:10px;
    margin-top:-16px;
    margin-left:-30px;
    padding-left:8px;
    padding-right:8px;
    background-color:#eee;
    width:24px;
}
.wm_menu {
    width:44px;
    position:fixed;
    left:6px;
    top:80px;
    background-color:rgba(40,40,40,0.8);
    padding-left:10px;
    padding-right:10px;
    z-index:9999;
    border-radius: 4px;
    overflow-y:hidden;
    box-shadow:1px 1px 10px #010101;
}

.material-icons{
    display: inline-flex;
    vertical-align: top;
}

.wm_menu li {
    height:28px;
    margin-bottom:10px;
    line-height:24px;
    font-size:14px;
}

.wm_line { border-bottom:solid #666 1px; height:1px; line-height:10px; margin-bottom:-10px;padding:0px;}
.wm_line div {
    margin-top:-12px;
    font-size:8px;
    color:#999;
    text-align:center;
    text-transform:uppercase;
}

.wm_menu i {
    color:#eee;
    width:20px;
    text-align:center;
    cursor: pointer;
}

.wm_menu li:hover > i { color:#ffcc00; }
.wm_menu li:hover > a { color:#ffcc00; }

.wm_menu a {
    color:#ccc;
    margin-left:10px;
    display:none;
}

.arrow-up {
    position:fixed;
    left:18px;
    top:80px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(40,40,40,0.8);
    margin-top:-10px;
    z-index:99999;
}

.wmcard {
    background-color:rgba(250,250,250,0.1);
    color:#eee;
}


#backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #0C7BBBFF;
}

#backToTopBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.evenly-spaced-inner {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    border: none;
    border-collapse: collapse;
}

.evenly-spaced-inner div {
    align-items: center;
}

.evenly-spaced-inner span {
    width: 3px; /* Adjust this width based on your preference */
    text-align: center;
}

.evenly-spaced {
    display: flex;
    justify-content: space-between;
}

.evenly-spaced div {
    display: flex;
    align-items: center;
}

.evenly-spaced span {
    width: 3px; /* Adjust this width based on your preference */
    text-align: center;
}

.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tt2 {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.tt2 .ttt2 {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 5px 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -120px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tt2 .ttt2::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tt2:hover .ttt2 {
    visibility: visible;
    opacity: 1;
}

button {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-6);
    font-size: 0.85rem;
    color: var(--gray-8);
    background: var(--gray-0);
    border: 0;
    padding: 0.5rem 0.5rem;
    transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale));
    transition: transform 0.1s;
    position: relative;
}

button:hover {
    --y: -10;
    --scale: 1.1;
    --border-scale: 1;
}

button:active {
    --y: 5%;
    --scale: 0.9;
    --border-scale: 0.9, 0.8;
}

button:before {
    content: "";
    position: absolute;
    inset: calc(0.9rem * -1); /* How far the angles extend from the button */
    border: 0.37rem solid var(--gray-0); /* How thick the angles are */
    transform: scale(var(--border-scale, 0));
    /*  inset: calc(var(--size-3) * -1);*/
    /*border: var(--size-2) solid var(--gray-0);*/
    transition: transform 0.125s;

    --angle-one: 105deg;
    --angle-two: 290deg;
    --spread-one: 30deg;
    --spread-two: 40deg;
    --start-one: calc(var(--angle-one) - (var(--spread-one) * 0.5));
    --start-two: calc(var(--angle-two) - (var(--spread-two) * 0.5));
    --end-one: calc(var(--angle-one) + (var(--spread-one) * 0.5));
    --end-two: calc(var(--angle-two) + (var(--spread-two) * 0.5));

    mask: conic-gradient(
            transparent 0 var(--start-one),
            white var(--start-one) var(--end-one),
            transparent var(--end-one) var(--start-two),
            white var(--start-two) var(--end-two),
            transparent var(--end-two)
    );

    z-index: -1;
}

.dropdown-wrapper {
    display: inline-block;
}

.details-title-dropdown-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px; /* Add margin as needed */
}




.toggle {
  cursor: pointer;
  display: inline-block;
    margin-right: 50px;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #2196F3;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

/*:root {*/
/*  --sz: 1.5vmin;*/
/*  --on: #03A9F4;*/
/*  --of: #fff0;*/
/*  --gr: #666666;*/
/*  --tr: all 0.5s ease 0s;*/
/*  --lg: var(--of);*/
/*}*/

/*.content {*/
/*  position: relative;*/
/*  width: calc(var(--sz) * 4);*/
/*  height: calc(var(--sz) * 2);*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

/*input {*/
/*  display: none;*/
/*}*/

/*label[for=btn] {*/
/*  position: absolute;*/
/*  width: calc(var(--sz) * 4);*/
/*  height: calc(var(--sz) * 2);*/
/*  background: linear-gradient(0deg, #121720, #0d1217);*/
/*  border-radius: var(--sz);*/
/*  box-shadow: 0 0 calc(var(--sz) / 50) calc(var(--sz) / 50) #0006, 0 -4px calc(var(--sz) / 10) calc(var(--sz) / 500) #0b0b10, 0 0px calc(var(--sz) / 10) calc(var(--sz) / 50) #b9e1ff88, 0 -4px calc(var(--sz) / 5) calc(var(--sz) / 50) #15182fcc;*/
/*}*/

/*.thumb {*/
/*  position: absolute;*/
/*  width: calc(calc(var(--sz) * 2) - calc(var(--sz) / 8));*/
/*  height: calc(calc(var(--sz) * 2) - calc(var(--sz) / 8));*/
/*  top: calc(calc( var(--sz) / 10) + calc(var(--sz) / -20));*/
/*  left: calc(calc( var(--sz) / 10) + calc(var(--sz) / -30));*/
/*  background:*/
/*    radial-gradient(circle at 48% 50%, #fff0 calc(var(--sz) / 1.05), var(--lg) calc(var(--sz) / 0.99) ),*/
/*    radial-gradient(circle at 40% 50%, #fff0 calc(var(--sz) / 0.95), var(--lg) calc(var(--sz) / 0.75)),*/
/*    linear-gradient(180deg, #283349, #17212f);*/
/*  border-radius: var(--sz);*/
/*  box-shadow:*/
/*    calc(var(--sz) / -50) calc(var(--sz) / 50) calc(var(--sz) / 30) 0 #fff2 inset,*/
/*    0 0 calc(var(--sz) / 10) calc(var(--sz) / 50) #000c,*/
/*    0 calc(var(--sz) / 3) calc(var(--sz) / 3) 0 #000d;*/
/*  cursor: pointer;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  z-index: 1;*/
/*  overflow: hidden;*/
/*}*/

/*#btn:checked + label .thumb {*/
/*  --lg: var(--on);*/
/*  transition: var(--tr);*/
/*  left: calc(calc(100% - calc(calc(var(--sz) * 2) - calc(var(--sz) / 3))) - calc(calc( var(--sz) / 10) + calc(var(--sz) / 5.75)));*/

/*}*/

/*.thumb:before {*/
/*  content: "";*/
/*  position: absolute;*/
/*  width: calc(var(--sz) / 0.5);*/
/*  height: calc(var(--sz) / 0.5);*/
/*  background: radial-gradient(circle at 45% 50%, #fff0 calc(var(--sz) / 1), var(--lg) calc(var(--sz) / 0.95));*/
/*  filter: blur(1px);*/
/*}*/

/*.light {*/
/*  position: absolute;*/
/*  width: calc(var(--sz) * 1);*/
/*  height: calc(var(--sz) / 1.75);*/
/*  right: calc(var(--sz) * -2.75);*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  z-index: 1;*/
/*  background: #121212;*/
/*  position: relative;*/
/*  width: calc(var(--sz) / 1.75);*/
/*  height: calc(var(--sz) / 1.75);*/
/*  border-radius: var(--sz);*/
/*  box-shadow:*/
/*    0 0px calc(var(--sz) / 50) calc(var(--sz) / 50) #0008,*/
/*    0 -4px calc(var(--sz) / 10) calc(var(--sz) / 500) #000,*/
/*    0 2px calc(var(--sz) / 10) calc(var(--sz) / 500) #fff8,*/
/*    0 0px calc(var(--sz) / 20) calc(var(--sz) / 25) #000;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  transition: var(--tr);*/
/*}*/

/*.light:before {*/
/*  content: "";*/
/*  transition: var(--tr);*/
/*  width: calc(100% - calc(var(--sz) / 15));*/
/*  height: calc(100% - calc(var(--sz) / 15));*/
/*  position: absolute;*/
/*  background: radial-gradient(circle at 50% 32%, #fff5 0 calc(var(--sz) / 20), #000 calc(var(--sz) / 3) calc(var(--sz) / 3));*/
/*  border-radius: var(--sz);*/
/*  box-shadow:*/
/*    0 0 calc(var(--sz) / 3) 0 #003ef520,*/
/*    0 0 calc(var(--sz) / 3) calc(var(--sz) / 20) #003ef520 inset;*/
/*}*/

/*#btn:checked + label + .light:before {*/
/*  --lg: var(--on);*/
/*  transition: var(--tr);*/
/*  box-shadow:*/
/*    0 0 calc(var(--sz) / 2.5) 0 var(--lg),*/
/*    0 0 calc(var(--sz) / 3) calc(var(--sz) / 20) var(--lg) inset,*/
/*    0 calc(var(--sz) / -20) calc(var(--sz) / 10) calc(var(--sz) / 10) #000c inset;*/
/*  background: radial-gradient(circle at 50% 32%, #fff 0 calc(var(--sz) / 20), var(--lg) calc(var(--sz) / 3) calc(var(--sz) / 3));*/
/*}*/