[GENERAL_PATHS]
base_directory = /opt/proteciotnet/proteciotnet_dev
static_directory = ${base_directory}/static
report_directory = ${static_directory}/reports
notes_directory = /opt/notes

####################################################################################

[WIFI_PATHS]
wifi_xml_base_directory = /opt/xml
proteciotnet_nmap_directory = ${GENERAL_PATHS:base_directory}/nmap
nse_scripts_directory = ${GENERAL_PATHS:base_directory}/nmap/nse
nmap_formatter_location = /opt/nmap_formatter/nmap_formatter
proteciotnet_nmap_schedule_directory = ${GENERAL_PATHS:base_directory}/nmap/schedule
bruteforce_userlist_location = ${GENERAL_PATHS:base_directory}/bruteforce_attacks/wordlist
bruteforce_passwordlist_location = ${GENERAL_PATHS:base_directory}/bruteforce_attacks/wordlist
bruteforce_logs_location = /opt/proteciotnet_medusa_logs


[CVE_API_ONLINE]
cpe_api_url = https://services.nvd.nist.gov/rest/json/cves/2.0?cpeName=
cve_api_url = http://cve.circl.lu/api/cve/

[CVE_API]
cve_search_ip_address = 192.168.1.225
cve_search_port = 5000
cve_search_timeout = 1


####################################################################################

[ZIGBEE_PATHS]
zigbee_json_base_directory = /opt/zigbee
zigbee_proteciotnet_directory = ${GENERAL_PATHS:base_directory}/zigbee
zigbee_reports_directory = ${GENERAL_PATHS:static_directory}/zigbee_reports


[ZIGBEE]
terminate_recording_after_x_packets = 10
terminate_recording_after_x_time = 25
zigbee_usb_target = CC2531

####################################################################################

[BLE_PATHS]
ble_csv_base_directory = /opt/ble
ble_reports_directory = ${GENERAL_PATHS:static_directory}/ble_reports
sniffle_location = /home/henry/Downloads/BLE_programs/Sniffle-1.7/python_cli/
xsl_file_location = ${GENERAL_PATHS:static_directory}/executables/pdml2html.xsl


[BLE]
ble_lock_filename = ble_scan.lock
bluetooth_interface_index = 0
bluetooth_scan_time_in_minutes = 2
bluetooth_connection_timeout_in_seconds = 5
bluetooth_wireshark_display_filter = (btle.advertising_header.pdu_type == 5 || btle.data_header.length > 0) || (btsmp)
