{% extends "proteciotnet_dev/main.html" %}
{% load static %}
{% block content %}
{#<div class="container about-content">#}
{#    <div class="container">#}
{#        <div class="section">#}
{#            <h1 class="header center">About ProtecIoTnet</h1>#}
{#            <div class="row">#}
{#                <div class="col s12">#}
{#                    <h4>Description</h4>#}
{#                    <p style="text-align: justify;">#}
{#                        ProtecIoTnet is a lightweight, easy to use IoT security assessment tool, designed for Smart-Home#}
{#                        devices and mainstream wearables. The project is designed to run continuously on a Raspberry Pi4#}
{#                        or similar single-board computer, although it can also be launched on most Unix systems. Currently#}
{#                        supported protocols are Wi-Fi, ZigBee and Bluetooth Low Energy (BLE).<br>#}
{#                        User interaction is handled through a Django Web-Server for the most part. There you can find#}
{#                        an overview of all scans, detailed breakdowns of each scan and some actions to further generate#}
{#                        information about possible vulnerabilities of you devices (e.g. get CVE entries for each device,#}
{#                        try to bruteforce logins for multiple protocols etc.). Furthermore, the Raspberry Pi 4 can be#}
{#                        equipped with a cheap 1-77 inch TFT LCD SPI screen to get information about currently running scans#}
{#                        without having to be obtrusive in the web interface. Finally, I added a cheap 5 port network#}
{#                        switch and some extensions to bring it all together and allow the system to be expanded with#}
{#                        further services provided by other devices via the network (e.g. docker container for local CVE#}
{#                        search).<br>#}
{#                        ProtecIoTnet was developed for my master's thesis at the FernUniversität in Hagen in collaboration#}
{#                        with SySS GmbH in Tübingen who allowed me to create this work and use their resources. I would like#}
{#                        to especially thank my supervisors Daniel Isern and Gerhard Klostermeier for all their insights#}
{#                        and help (also anyone in the hardware team for helping with all my soldering requests).#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col s12">#}
{#                    <h4>Author</h4>#}
{#                    <p>#}
{#                        <!-- Your name and title here -->#}
{#                        <strong>Name:</strong> Henry Weckermann<br>#}
{#                        <strong>Email:</strong> henry.weckermann@mailbox.org<br>#}
{#                        <strong>Title:</strong> Master's Candidate at FernUniversität in Hagen<br>#}
{#                        <strong>Supervisor:</strong> Prof. Dr. Jörg Keller<br>#}
{#                        <strong>Supervisor at SySS GmbH:</strong> Daniel Isern<br>#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
    <div class="container about-content">
    <div class="container">
        <div class="section">
            <h2 class="header center white-text">About ProtecIoTnet</h2>

            <img src="{% static "logo.png" %}" width="35%" height="35%" style="display:block; margin-left: auto; margin-right: auto; " alt="ProtecIoTnet Logo">

            <div class="row">
                <div class="col s12">
                    <h4>Description</h4>
                    <p style="text-align: justify;">
                        ProtecIoTnet is a lightweight, easy to use IoT security assessment tool, designed for Smart-Home
                        devices and mainstream wearables. The project is designed to run continuously on a Raspberry Pi4
                        or similar single-board computer, although it can also be launched on most Unix systems. Currently
                        supported protocols are Wi-Fi, ZigBee and Bluetooth Low Energy (BLE).<br>
                        User interaction is handled through a Django Web-Server for the most part. There you can find
                        an overview of all scans, detailed breakdowns of each scan and some actions to further generate
                        information about possible vulnerabilities of you devices (e.g. get CVE entries for each device,
                        try to bruteforce logins for multiple protocols etc.). Furthermore, the Raspberry Pi 4 can be
                        equipped with a cheap 1-77 inch TFT LCD SPI screen to get information about currently running scans
                        without having to be obtrusive in the web interface. Finally, I added a cheap 5 port network
                        switch and some extensions to bring it all together and allow the system to be expanded with
                        further services provided by other devices via the network (e.g. docker container for local CVE
                        search).<br>
                        ProtecIoTnet was developed for my master's thesis at the FernUniversität in Hagen in collaboration
                        with SySS GmbH in Tübingen who allowed me to create this work and use their resources. I would like
                        to especially thank my supervisors Daniel Isern and Gerhard Klostermeier for all their insights
                        and help (also anyone in the hardware team for helping with all my soldering requests). </p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <h4>Author</h4>
                    <table>
                        <tr>
                            <td style="padding:0;"><strong>Name</strong></td>
                            <td style="padding:0;">Henry Weckermann</td>
                        </tr>
                        <tr>
                            <td style="padding:0;"><strong>Email</strong></td>
                            <td style="padding:0;">henry.weckermann@mailbox.org</td>
                        </tr>
                        <tr>
                            <td style="padding:0;"><strong>GitLab Link</strong></td>
                            <td style="padding:0;">https://gitlab.com/hweckermann/proteciotnet</td>
                        </tr>
                        <tr>
                            <td style="padding:0;"><strong>Supervisor</strong></td>
                            <td style="padding:0;">Prof. Dr. Jörg Keller</td>
                        </tr>
                        <tr>
                            <td style="padding:0;"><strong>Supervisor (SySS GmbH)</strong></td>
                            <td style="padding:0;">Daniel Isern</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container white-text right-align">
        <p>&copy; 2023 Henry Weckermann</p>
    </div>
</footer>

{% endblock %}