{% extends "proteciotnet_dev/main.html" %}

{% block content %}
    <div class="container" style="margin-top:30px;">
        <div class="row">
            <div class="col s12 m3">
                <div class="card darken-1">
                    <div class="card-content grey darken-3 white-text">
                        <span class="card-title" style="margin-bottom: 0;"><i class="material-icons">wifi</i> {{ stats.xmlcount }} Network Scans </span>

                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card darken-1">
                    <div class="card-content white-text" style="background-color: #ef3453;">
                        <span class="card-title" style="margin-bottom: 0;"><i class="material-icons">sensors</i> {{ stats.zigbee_files_count }} ZigBee Scans </span>

                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card darken-1">
                    <div class="card-content white-text" style="background-color: #1565C0;">
                        <span class="card-title" style="margin-bottom: 0;"><i class="material-icons">bluetooth</i> {{ stats.ble_files_count }} Bluetooth Scans</span>

                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <a href="about.html">
                <div class="card darken-1">
                    <div class="card-content grey darken-3 white-text">
                        <span class="card-title" style="margin-bottom: 0;"><i class="material-icons">person</i> About </span>
                     </div>
                </div></a>
            </div>
        </div>

        <div class="card wmcard">
            <div class="card-title" style="padding: 16px 12px 1px 32px;">Wi-Fi Files</div>
            <div class="card-content">
                <table>
                    <thead>
                    <tr>
                        <th>Filename</th>
                        <th class="hide-on-small-only">Timestamp</th>
                        <th class="hide-on-small-only">Host Count</th>
                        <th>Stats</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i,v in tr.items %}
                        <tr>
                            <td><b><a class="blue-text" href="{{ v.href }}">{{ v.filename|safe }}</a></b></td>
                            <td class="hide-on-small-only">{{ v.startstr }}</td>
                            <td class="hide-on-small-only">{{ v.hostnum }}</td>
                            <td class="evenly-spaced">
                                <div>
                                    <i class="fas fa-lock-open"></i>
                                    <span class="text">&nbsp;{{ v.portstats.po }}</span>
                                </div>
                                <div>
                                    <i class="fas fa-lock"></i>
                                    <span class="text">&nbsp;{{ v.portstats.pc }}</span>
                                </div>
                                <div>
                                    <i class="fas fa-filter"></i>
                                    <span class="text">&nbsp;{{ v.portstats.pf }}</span>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <br><hr><br>

        <div class="card wmcard">
            <div class="card-title" style="padding: 16px 12px 1px 32px;">ZigBee Files</div>
            <div class="card-content">
                <table>
                    <thead>
                    <tr>
                        <th>Filename</th>
                        <th class="hide-on-small-only">Timestamp</th>
                        <th class="hide-on-small-only">Host Count</th>
                        <th>Channel</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i,v in zigbee_files.items %}
                        <tr>
                            <td><b><a class="blue-text" href="{{ v.zb_href }}">{{ v.zb_filename|safe }}</a></b></td>
                            <td class="hide-on-small-only">{{ v.zb_startstr }}</td>
                            <td class="hide-on-small-only">{{ v.zb_hostnum }}</td>
                            <td class="hide-on-small-only">{{ v.zb_channel }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <br><hr><br>

        <div class="card wmcard">
            <div class="card-title" style="padding: 16px 12px 1px 32px;">Bluetooth Files</div>
            <div class="card-content">
                <table>
                    <thead>
                    <tr>
                        <th>Filename</th>
                        <th class="hide-on-small-only">Timestamp</th>
                        <th class="hide-on-small-only">Device Count</th>
                        <th>Connectable Device Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i,v in ble_files.items %}
                        <tr>
                            <td><b><a class="blue-text" href="{{ v.bl_href }}">{{ v.bl_filename|safe }}</a></b></td>
                            <td class="hide-on-small-only">{{ v.bl_startstr }}</td>
                            <td class="hide-on-small-only">{{ v.bl_nr_devices }}</td>
                            <td class="hide-on-small-only">{{ v.bl_nr_conn_devices }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="small grey-text right right-align">
            Version: {{ webmapver|safe }}<br>&copy; Henry Weckermann (2023)<br>
            Please <b><u>do not</u></b> deploy this publicly as it is in beta.
        </div>

    </div>
{% endblock %}
