{% extends "proteciotnet_dev/main.html" %}
{% load static %}
{% block content %}
    <div class="container" style="margin-top:30px;">

        <div class="card wmcard">
            <div class="card-content" style="margin-bottom: 0;">
                <div id="hostlabel" style="z-index:99;transform: rotate(-8deg);margin-top:-14px;margin-left:-40px;"
                     class="leftlabel {{ labelcolor }}">{{ label }}</div>

                <div id="hostlabelbb" class="{{ labelcolor }}"
                     style="border-radius:0px 4px 0px 4px;z-index:98;position:absolute;width:18px;height:10px;margin-left:-43px;margin-top:-3px;"></div>
                <div class="row">
                    <div class="col s3">

                        <span class="card-title">
                            <a href="/">
                            <button class="btn blue btn-danger btn-floating btn-lg" style="line-height: 0;" id="backbtn"
                                    title="Go back">
                                <i class="fas fa-arrow-left"></i> </a>
                            </button>
                            {{ address }}
                        </span>

                        {{ hostname | safe }}
                        <span class="small grey-text"><b>Filename: </b> {{ scanfile }}.xml</span>
                    </div>
                    <div class="col s3 right" id="os_details">{{ os | safe }}</div>

                    {#                    <div class="col s3 hide-on-med-and-down" id="detailspo"></div>#}
                    {#                    <div class="col s3 hide-on-med-and-down" id="detailspc"></div>#}
                    {#                    <div class="col s3 hide-on-med-and-down" id="detailspf"></div>#}
                </div>
            </div>
        </div>

        <div class="card wmcard">
            <div class="card-content">

                <table>
                    <thead>
                    <tr>
                        <th style="max-width:50px;">Port</th>
                        <th class="hide-on-med-and-down" style="width:300px;">Product / Version</th>
                        <th class="hide-on-med-and-down">Extra Info</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for i,v in tr.items %}
                        <tr>
                            <td style="width:200px;">
                                {% if v.state == 'filtered' %}
                                    <i class="fas fa-filter grey-text"></i>
                                {% elif v.state == 'closed' %}
                                    <i class="fas fa-lock red-text"></i>
                                {% elif v.state == 'open' %}
                                    <i class="fas fa-lock-open green-text"></i>
                                {% endif %}
                                <span class="title-small grey-text">{{ v.protocol }} / </span><b
                                    class="blue-text text-darken-3">{{ v.portid }}</b><br>
                                <div class="small" style="margin-top:10px;">
                                    <b class="grey-text">Service:</b> {{ v.service }}<br>
                                    <b class="grey-text">State:</b> {{ v.state }}<br>
                                    <b class="grey-text">Reason:</b> {{ v.reason }}
                                </div>
                            </td>
                            <td class="hide-on-med-and-down" style="vertical-align:top;">
                                {{ v.product|safe }}<br>
                                {{ v.version|safe }}
                            </td>
                            <td class="hide-on-med-and-down" style="vertical-align:top;">
                                {{ v.extrainfo|safe }}
                                {{ v.cpe|safe }}
                            </td>
                            <td>
                                <button class="detail_button blue right white-text"
                                        onclick="apiPortDetails('{{ address }}','{{ v.portid }}')">
                                    Show details
                                </button>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

        {% if notes %}
            <div class="card wmcard">
                <div class="card-content">
                    <span class="card-title">Notes:</span>
                    {{ notes|safe }}
                </div>
            </div>
        {% endif %}


        {% if cvelist %}

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    var sortingDropdown = document.getElementById('dropdown_sorting');
                    var sortingLabel = document.getElementById('sortingLabel');

                    // Get the selected option from localStorage
                    var selectedOption = localStorage.getItem('selectedOption');
                    if (selectedOption) {
                        sortingLabel.textContent = selectedOption;
                    }

                    sortingDropdown.addEventListener('click', function (event) {
                        if (event.target.tagName === 'A') {
                            var optionText = event.target.textContent.trim();
                            sortingLabel.textContent = optionText;

                            // Store the selected option in localStorage
                            localStorage.setItem('selectedOption', optionText);
                        }
                    });
                });


            </script>

            <div class="card wmcard">
                <div class="card-content">
                    <div class="details-title-dropdown-container">
                        <span class="card-title">CVE Overview</span>

                        <div class="search-container right">
                            <input type="text" id="search-input" class="search-input white-text"
                                   placeholder="Search...">
                            <span class="delete-icon"><i class="material-icons">clear</i></span>
                            <button id="search-button2" class="search-button" onclick="redirectToUrl()"><i
                                    class="material-icons">search</i>
                            </button>
                        </div>
                        <script src="{% static "js/search_cve.js" %}"></script>

                        <div class="dropdown-wrapper">
                            <ul id="dropdown_sorting" class="dropdown-content"
                                style="min-width:300px; border-radius: 4px;">
                                <li><a href="/report/{{ address }}" onclick="" style="color:#111111">Default sorting</a>
                                </li>
                                <li class="divider" tabindex="-1"></li>
                                <li><a href="/report/{{ address }}/cvss2asc" onclick="" style="color:#111111">CVSS 2.0
                                    ascending (lowest)</a></li>
                                <li><a href="/report/{{ address }}/cvss2desc" onclick="" style="color:#111111">CVSS 2.0
                                    descending (highest)</a></li>
                                <li><a href="/report/{{ address }}/cvss3asc" onclick="" style="color:#111111">CVSS 3.x
                                    ascending (lowest)</a></li>
                                <li><a href="/report/{{ address }}/cvss3desc" onclick="" style="color:#111111">CVSS 3.x
                                    descending (descending)</a></li>
                                <li><a href="/report/{{ address }}/cveasc" onclick="" style="color:#111111">CVE number
                                    ascending (oldest)</a></li>
                                <li><a href="/report/{{ address }}/cvedesc" onclick="" style="color:#111111">CVE number
                                    descending (newest)</a></li>
                                <li><a href="/report/{{ address }}/cweasc" onclick="" style="color:#111111">CWE ID
                                    ascending</a></li>
                                <li><a href="/report/{{ address }}/cwedesc" onclick="" style="color:#111111">CWE ID
                                    descending</a></li>
                            </ul>
                            <a class="dropdown-trigger" href="#!" data-target="dropdown_sorting"><i
                                    class="fas fa-sort"></i> <span id="sortingLabel">Sorting Options</span></a>
                        </div>
                    </div>
                    <span class="right" style="font-size: 80%"><i>Click the CVE number to get the full CVE entry / hover over the CVSS vectors & the CWE number to get more detail</i></span>

                    <br><br>

                    {{ cvelist|safe }}
                </div>
            </div>
        {% endif %}

    </div>

    {{ js|safe }}
{% endblock %}
