{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static "css/icon.css" %}">
        <link rel="stylesheet" href="{% static "cdn/fontawesome/css/all.css" %}">
        <link rel="stylesheet" href="{% static "css/materialize.min.css" %}">
        <link rel="stylesheet" href="{% static "css/report.css" %}">

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <script src="{% static "js/jquery.min.js" %}"></script>
    </head>

    <body>
        {{ html|safe }}
        <pre> {{ out|safe }}</pre>
        <script src="{% static "js/materialize.min.js" %}"></script>
    </body>
</html>
