{% extends "proteciotnet_dev/main.html" %}
{% load static %}
{% block content %}


<div class="container" style="margin-top:30px;">

    {# Scan data overview without actions  #}
    <div class="card wmcard" style="display: flex; justify-content: space-between;">
        <div class="card-content">

            <div class="row hide-on-med-and-down">
                <div class="col s12 m4 title-small grey-text">
                    <a href="/setscanfile/unset">
                        <button class="btn blue btn-floating" id="backbtn"
                                title="Go back">
                            <i class="fas fa-arrow-left"></i>
                        </button>
                    </a>
                    &nbsp;ZigBee Scan Information
                </div>
                <div class="col s12 m4 title-small red-text right">
                    <a href="#!" onclick="delete_file('{{ filename }}');" class="red-text">
                        <span class="material-icons" style="font-size: 20px;">scan_delete</span>Delete File</a>
                </div>
            </div>

            <div class="row hide-on-med-and-down">
                <div class="col s12 m4">
                    <table class="custom-table">
                        <tr>
                            <td><b class="orange-text">Filename:</b></td>
                            <td>{{ filename }}</td>

                            <td><b class="orange-text">Trust Key:</b></td>
                            <td>{{ trust_key }}</td>
                        </tr>
                        <tr>
                            <td><b class="orange-text">Start Time:</b></td>
                            <td>{{ start_time }}</td>

                            <td><b class="orange-text">Transport Key:</b></td>
                            <td>{{ transport_key }}</td>
                        </tr>
                        <tr>
                            <td><b class="orange-text">Programs Used:</b></td>
                            <td>{{ programs }}</td>

                            <td><b class="orange-text">Stat 3</b></td>
                            <td>{{ nr_devices }}</td>
                        </tr>
                        <tr>
                            <td><b class="orange-text">Sniffer Interface ID:</b></td>
                            <td>{{ sn_device_id }}</td>

                            <td><b class="orange-text">Channel:</b></td>
                            <td>{{ channel }}</td>
                        </tr>
                        <tr>
                            <td><b class="orange-text">Sniffing Device:</b></td>
                            <td>{{ sniffing_device }}</td>
                            <td><b class="orange-text">End Time: </b></td>
                            <td>{{ finish_time }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        {# Actions panel #}
        <div class="card-action">
            <div class="col s12 m4 title-small grey-text">Actions</div><br>

            <ul id="dropdown{{ v.pel }}" class="dropdown-content" style="min-width:300px; border-radius: 4px;">
                <li><a href="#" onclick="createReport('{{ filename }}', 'pdf')" style="color:#111111">Create
                    PDF report</a></li>
                <li class="divider" tabindex="-1"></li>
                <li><a href="#!" onclick="createReport('{{ filename }}', 'md')" style="color:#111111">Create
                    Markdown report</a></li>
                <li><a href="#!" onclick="createReport('{{ filename }}', 'html')" style="color:#111111">Create
                    HTML report</a></li>
                <li><a href="#!" onclick="createReport('{{ filename }}', 'json')" style="color:#111111">Create
                    JSON file</a></li>
            </ul>
            <a class="dropdown-trigger" href="#!" data-target="dropdown{{ v.pel }}" style="color: #ff9800;"><i
                    class="material-icons">note_add</i> Create Report</a><br><br>

            {{ file_dropdown | safe }}

            <a href="#!" onclick="cve_info()"
               style="color: #ff9800; font-size: 10px; display: flex; align-items: center;">
                <i class="material-icons" style="font-size: 20px; margin-right: 5px;">lightbulb</i>
                <div>
                    Info Text here<br>
                    Can be multiline
                </div>
            </a>
        </div>
    </div>

    {# 4 Panel Layout #}
    <div class="row" style="">
        <div class="col s12 m3" style="padding:1px;">
            <div class="card wmcard" style="text-align:center;padding:6px;"><h4><i
                    class="fas fa-heartbeat grey-text"></i> <span class="grey-text">{{ nr_devices }}</span></h4>
                <span class="small grey-text">DEVICES AVAILABLE</span></div>
        </div>
        <div class="col s12 m3" style="padding:1px;">
            <div class="card wmcard" style="text-align:center;padding:6px;"><h4><i
                    class="fas fa-code-branch grey-text"></i> <span class="grey-text">{{ channel }}</span></h4>
                <span class="small grey-text">SELECTED CHANNEL</span></div>
        </div>
        <div class="col s12 m3" style="padding:1px;">
            <div class="card wmcard" style="text-align:center;padding:6px;"><h4><i
                    class="fas fa-hashtag grey-text"></i> <span class="grey-text">{{ nr_packets }}</span></h4><span
                    class="small grey-text">PACKETS CAPTURED</span></div>
        </div>
        <div class="col s12 m3" style="padding:1px;">
            <div class="card wmcard" style="text-align:center;padding:6px;"><h4><i
                    class="fas fa-key grey-text"></i> <span class="grey-text">{{ nr_transport_key }}</span></h4>
                <span class="small grey-text">TRANSPORT KEY</span></div>
        </div>
    </div>

{#  The Services etc overview. Not quite sure what to do with it  #}
    <div class="card wmcard hide-on-med-and-down" style="{{ pretablestyle }}">
        <div class="card-title" style="padding: 16px 12px 1px 32px;">Channel Overview</div>
        <div class="card-content">
            {% with "zigbee_reports/"|add:channel_overview_path as static_path %}
                <img src="{% static static_path %}" alt="Channel Overview with Wifi" style="width: 100%; display: block;">
            {% endwith %}
        </div>
    </div>

    <div class="card wmcard hide-on-med-and-down" style="{{ pretablestyle }}">
        <div class="card-title" style="padding: 16px 12px 1px 32px;">Network Overview</div>
        <div class="card-content">
            {% with "zigbee_reports/"|add:network_graph_render_path as static_path %}
                <img src="{% static static_path %}" alt="Network Overview" style="width: 100%; display: block;">
            {% endwith %}
        </div>
    </div>

{# The device list #}
    {% for key, value in devices.items %}
        <div class="card wmcard">
            <div class="card-content">
                <div class="row" style="padding:0px;margin-bottom:0px;">
                    <div class="col s4" style="border-right:solid #444 1px;">
                        <div class="hindex wmcard">{{ v.hostindex }}</div>
                        {{ v.newlabelout|safe }}
                        {% if v.po != 0 or v.pc != 0 or v.pf != 0 or v.vendor != "" %}
                            <h5><a href="/report/{{ i }}" class="blue-text text-darken-3">{{ i }}</a></h5>
                            <span style="font-size: 14px; color: #9e9e9e"><b>Vendor: </b>{{ v.vendor|safe }}</span>
                            {{ v.hostname|safe }}
                        {% else %}
                            <h5>{{ i }}</h5><h5>{{ v.vendor }}</h5>{{ v.hostname|safe }}
                        {% endif %}


                    </div>
                    <div class="col s4 small grey-text">
                        <b>PORT STATISTICS</b><br>

                        <table style="border-collapse: collapse; border-spacing: 0; border: none">
                            <tr style="border: none">
                                <td class="evenly-spaced-inner">
                                    <div>
                                        <i class="fas fa-lock-open"></i>
                                        <span class="text">&nbsp;{{ v.po }} open</span>
                                    </div>
                                    <div>
                                        <i class="fas fa-lock"></i>
                                        <span class="text">&nbsp;{{ v.pc }} closed</span>
                                    </div>
                                    <div>
                                        <i class="fas fa-filter"></i>
                                        <span class="text">&nbsp;{{ v.pf }} filtered</span>
                                    </div>
                                </td>

                            </tr>
                        </table>
                    </div>

                    <div class="col s2 small grey-text">
                        <b>SERVICES</b><br><br>
                        {{ v.services|safe }}
                    </div>

                    <div class="col s2 small grey-text">
                        <b>PORTS</b><br><br>
                        {{ v.ports|safe }}
                    </div>
                </div>
            </div>

            <div class="card-action">
                <ul id="hostdd{{ v.hostindex }}" class="dropdown-content" style="min-width:200px;">
                    <li><a href="#!"
                           onclick="setLabel('host', 'Vulnerable', '{{ v.addressmd5 }}', {{ v.hostindex }});"><span
                            class="tmlabel red">Vulnerable</span></a></li>
                    <li><a href="#!"
                           onclick="setLabel('host', 'Warning', '{{ v.addressmd5 }}', {{ v.hostindex }});"><span
                            class="tmlabel orange">Warning</span></a></li>
                    <li><a href="#!"
                           onclick="setLabel('host', 'Checked', '{{ v.addressmd5 }}', {{ v.hostindex }});"><span
                            class="tmlabel blue">Checked</span></a></li>
                    <li><a class="grey-text" href="#!"
                           onclick="removeLabel('host', '{{ v.addressmd5 }}', {{ v.hostindex }});">Remove label</a>
                    </li>
                    <li class="divider"></li>
                    <li><a class="grey-text" href="#!"
                           onclick="openNotes('{{ v.addressmd5 }}', '{{ v.notesb64 }}');">Insert notes</a></li>
                    {{ v.removenotes|safe }}
                </ul>
                <a href="#!" class="grey-text dropdown-trigger" data-target="hostdd{{ v.hostindex }}"><i
                        class="fas fa-ellipsis-v"></i> Actions</a>

                {{ v.notesout|safe }}

            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}